@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSonF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v10/Y_TKV6o8WovbUd3m_X9aAA.ttf) format('truetype');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: local('Oswald Bold'), local('Oswald-Bold'), url(http://fonts.gstatic.com/s/oswald/v10/bH7276GfdCjMjApa_dkG6aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

/*
 * Free theme version typography and colors customizations
*/

h1, h2, h3, h4, h5, h6,
.blog .yit_post_meta_date span,
.numbers-sections .number,
div.blog_post .yit_post_date span,
.widget.yit-recent-posts .recent-post .hentry-post p.post-date .day,
.widget_shopping_cart .widget_shopping_cart_content ul.product_list_widget li,
.widget_categories ul li span.count,
.testimonial-wrapper .thumb:before,
.widget_product_categories ul li span.count,
.widget.woocommerce.widget_layered_nav ul.yith-wcan-list li small.count,
.widget.featured-products div.info-featured-product .price,
.single-product.woocommerce div.product div.summary form.cart ul.variations li .select_option_label span {
    font-family: 'Oswald', sans-serif;
}

body, p, li, address, dd, blockquote, td, th, .blog.single .content-style-social:after, .menu-item .highlight, .menu-item .highlight-inverse {
    font-family: 'Open Sans', sans-serif;
}

.highlight, .numbers-sections h4 span.title-highlight {
    color: #3e8e99;
}

.special-font, .special-font a.btn-alternative {
    font-size: 12px;
    font-family: 'Arvo', sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

.quote-icon, .testimonial-wrapper .thumb:before, .testimonials-slider ul.testimonial-content li blockquote p:before {
    font-size: 100px;
    font-family: 'Rokkit', sans-serif;
    color: #c3c5c5;
    font-style: normal;
    font-weight: 400;
}

body, .st-content, .st-content-inner, .stretched-layout .blog.single .content-style-social,
.shortcode .content-style-social {
    background: #ffffff url('');
}

body, .st-content, .st-content-inner {
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

.boxed-layout #wrapper, .boxed-layout .blog.single .content-style-social {
    background-color: #ffffff;
}

.shade-1, .toggle .toggle-title .tab-opened h4, .toggle .toggle-title h4:hover {
    color: #3e8e99;
}

.shade-2,
.dropcap,
.random-numbers span.number,
.images-slider-sc .flex-direction-nav li a:hover,
.logos-slider.wrapper .nav .prev:hover i:before,
.logos-slider.wrapper .nav .next:hover i:before,
#commentform .comment-form-comment #comment,
.tabs-container ul.tabs li.current a, .tabs-container ul.tabs li a:hover,
#commentform input:not([type=submit]),
.logos-slider .nav .next i:hover{
    color: #000000;
}

.shade-3, .images-slider-sc .flex-direction-nav li a,
.logos-slider .nav .next i, .yit_post_quote .fa.shade-1 {
    color: #8c8c8c;
}

.faq-title.active .faq-icon, .widget.yit-vertical-megamenu h3,
.toggle .toggle-title span.fa.fa-minus.opened {
    background-color: #f2f0f0;
}

.blog.small .yit_post_meta,
.yit_shortcodes.recent-post .blog.small .yit_post_meta,
.single-product.woocommerce div.product div.product-title-section,
#payment,
#inquiry-form,
.features-tab-container ul.features-tab-labels li.current-feature,
#copyright,
#header #nav {
    border-top-color: #e7e4e4;
}

.blog.big.single .yit_post_content.title,
#header-container .header-wrapper,
.woocommerce ul.product_list_widget li,
.widget.yit_products_category ul.product_list_widget li,
.widget.contact-info ul li,
#comments .comments-title:after,
#respond .comment-reply-title:after,
#reply-title:after,
#page-meta,
.widget.contact-info ul li,
#wp-calendar caption,
.woocommerce .cart-collaterals .cart_totals h3,
#order_review_heading, #payment h3,
.woocommerce table.shop_table.cart tbody
.woocommerce .cart-collaterals .cart_totals tbody tr.shipping,
#payment li,
.widget_categories ul li,
.widget_archive ul li,
.widget_product_categories ul li
.widget_meta ul li,
.widget_pages ul li,
.widget_nav_menu ul li,
#order_review table tbody,
.contact-info ul li,
#order_review table tfoot tr.shipping,
.widget.widget_recent_entries ul li,
.widget.widget_recent_comments ul li,
.widget.yit_toggle_menu ul.menu > li,
.widget_product_categories ul.product-categories > li,
.widget.woocommerce.widget_layered_nav ul.yith-wcan-list li,
.woocommerce.widget_layered_nav ul li,
#header .widget_shopping_cart .widget_shopping_cart_content h5.list-title,
#inquiry-form,
.widget_product_categories ul li:not(.cat-parent),
.widget_product_categories ul li:not(.opened),
.widget_meta ul li,
#header .widget_shopping_cart .widget_shopping_cart_content ul.product_list_widget li,
.yit-vertical-megamenu .nav > ul > li,
.woocommerce .coupon-form-checkout,
.woocommerce .login-form-checkout,
.yit_post_quote,
.st-menu ul li,
.yit_post_quote,
#header,
.box-sections.with-border-bottom h2:after,
.box-sections.with-border-bottom h3:after,
.box-sections.with-border-bottom h4:after,
.box-sections.with-border-bottom h5:after,
.box-sections.with-border-bottom h6:after {
    border-bottom-color: #e7e4e4;
}

.sidebar-with-border,
#header #header-sidebar,
.header-nav ul li a,
.border-around img,
#header-sidebar > div:before,
#show-category-product ul.products li a.product-category-link,
.categories-slider ul.products li a.product-category-link,
.blog .yit_post_meta_date,
.teaser-wrapper,
.blog-section-wrapper .yit_post_content,
.call-to-action-two,
.call-three,
.logos-slider.wrapper .nav .prev, .logos-slider.wrapper .nav .next,
.eg-item-skin-1-wrapper.filter-hover1 .esg-bc.eec,
.blog.small .post-wrapper,
.blog.masonry .post-wrapper,
.blog.big.single .yit_post_meta.last_block,
.toggle,
.price-table,
.tabs-container ul.tabs li,
.tabs-container ul.tabs,
#copyright .border,
.widget_search #s,
.features-tab-container ul.features-tab-labels,
.features-tab-container ul.features-tab-labels li,
.blog-section-wrapper ul.blog_posts li div.blog_post .yit_post_date,
.testimonial-wrapper,
.toggle .toggle-title span.fa.fa-plus.closed,
.toggle .toggle-title span.fa.fa-minus.opened,
.arrow:before, .arrow-down:before,
#comments ol li .content,
#comments ol li .avatar img,
#commentform .comment-form-comment #comment,
#commentform input:not([type=submit]),
#commentform .comment-form-comment #comment,
#faqs-container .faq-wrapper,
.filters li a,
#faqs-container .faq-icon.fa,
.widget.yit-recent-posts .recent-post .hentry-post .text p:before,
#reviews #comments div.comment-text,
#reviews #comments ol.commentlist img.avatar,
.single-product.woocommerce div.woocommerce-tabs ul.tabs,
#reviews #comments div.comment-text.arrow-left:after,
#reviews #comments div.comment-text.arrow-left:before,
#reviews #comments > h3:after, #comments time:after,
#product-nav > a div.product-info,
.woocommerce ul.products li.product.grid .product-wrapper.elegant:hover .product-meta-wrapper,
.widget.yit_quick_contact ul li input:not([type="submit"]),
.widget.yit_quick_contact ul li textarea,
.woocommerce ul.products li.product.list .product-meta-wrapper div.product-rating:after,
.widget.yit-recent-comments div.comment,
.widget.yit-recent-comments .the-post .gravatar-wrapper,
.widget.yit_recent_reviews .review-content,
.widget.yit_recent_reviews .review-meta-avatar .avatar-thumb,
div.widget.teaser .teaser-wrapper,
input[type="text"],
input[type="password"],
input[type="email"],
input.input-text,
input.input-text,
.woocommerce-page .woocommerce-page input.input-text,
textarea,
.cta-phone,
.yit-vertical-megamenu,
.yit-vertical-megamenu h3:after,
#review-order-wrapper,
.woocommerce .cart-collaterals,
.woocommerce table.shop_table.cart thead
.woocommerce form .form-row a.chosen-single,
.woocommerce form .form-row textarea,
.woocommerce .quantity input.qty,
.woocommerce-page .quantity input.qty,
.woocommerce .quantity .minus,
.woocommerce .quantity .plus,
.woocommerce-page .quantity .minus,
.woocommerce-page .quantity .plus,
.sbHolder .sbSelector,
.sbHolder .sbOptions,
.widget_shopping_cart .widget_shopping_cart_content,
.woocommerce form .form-row div.chosen-drop,
.widget.last-tweets .arrow-left,
.arrow-left:before,
.arrow-left:after,
.border-line,
.yit_shortcodes.recent-post .blog.small .post-wrapper,
.yit_shortcodes.recent-post .blog .yit_post_meta_date,
.yit_shortcodes.recent-post .blog .more-link,
.woocommerce-page table.shop_table.my_account_orders thead,
.widget.yith-woo-ajax-navigation ul.yith-wcan-color li a,
.widget.yith-woo-ajax-navigation ul.yith-wcan-label li a,
.sidebar .widget.yit_text_image .clearfix.widget-wrap,
.woocommerce ul.order_details li, .woocommerce-page ul.order_details li,
.woocommerce table.shop_table.order_details thead,
.woocommerce table.shop_table.order_details tbody,
.woocommerce-page table.shop_table.my_account_orders thead,
.woocommerce table.shop_table.order_details tfoot tr:last-child,
.woocommerce-page table.shop_table.my_account_orders thead,
.widget.testimonial-widget ul li div.testimonial-description,
.widget.featured-products .flex-viewport,
.widget.testimonial-widget ul li .image-container,
.widget.yit_recent_reviews .owl-controls .owl-buttons span.fa,
#primary .testimonial-widget .owl-buttons .owl-next,
#primary .testimonial-widget .owl-buttons .owl-prev,
#welcome-menu-login .login-box.with_registration .customer-login-box.customer-login-box1,
#welcome-menu-login .login-box.with_registration .customer-login-box.customer-login-box2,
.woocommerce.widget.yith_woocommerce_ajax_search input[type="search"],
.woocommerce.widget.widget_product_search #searchform,
#modal-window,
.woocommerce-billing-fields select,
.page-template-blog-php .post.blog-big
.images-slider-sc .flex-direction-nav li a,
.logos-slider .nav .prev, .logos-slider .nav .next,
.woocommerce ul.products li.product .thumb-wrapper.alternative .product-action-button a,
.widget.yit-recent-posts .recent-post .hentry-post p.post-date,
.single-product.woocommerce div.product div.summary .price:after,
.single-product.woocommerce div.product div.summary .product_meta:before,
.woocommerce ul.products li.product .product-wrapper.elegant:hover .product-meta-wrapper:before,
.woocommerce ul.products li.product .product-wrapper.elegant:hover .product-meta-wrapper:after,
.single-product.woocommerce div.product div.summary ul.socials li,
.woocommerce ul.products li.product .thumb-wrapper .out-of-stock-icon .out-of-stock-text:before,
.woocommerce ul.products li.product .thumb-wrapper .out-of-stock-icon .out-of-stock-text:after,
.widget_categories .sbHolder .sbSelector,
.woocommerce ul.products li.product .thumb-wrapper .added-to-cart-icon .added-to-cart-text:before,
.woocommerce ul.products li.product .thumb-wrapper .added-to-cart-icon .added-to-cart-text:after,
.widget_archive .sbHolder .sbSelector,
.woocommerce .cart-empty h2.empty-message:after,
.widget.featured-products div.info-featured-product > div,
.widget.featured-products .flex-direction-nav li a.flex-next,
.widget.featured-products .flex-direction-nav li a.flex-prev,
#show-category-product div.category-count div.category-count-content span,
#show-category-product div.category-name h4, .categories-slider div.category-name h4,
.woocommerce-message,
.woocommerce-info,
#header-search input#s, #header-search input#yith-s,
ul.products li.product:not(.list) .product-wrapper,
ul.products li.product.list .thumb-wrapper,
.tabs-container ul.tabs:before,
.tabs-container ul.tabs:after,
.single-product.woocommerce div.product div.images > a,
.single-product.woocommerce div.product div.images .yith_magnifier_zoom_wrap,
.single-product.woocommerce div.product div.images .yith_magnifier_gallery li {
    border-color: #e7e4e4;
}

.border-line-1 {
    background-color: #e7e4e4;
}

.dropcap,
.images-slider-sc .flex-direction-nav li a:hover,
#nav .menu-item .highlight,
#comments ol li .information .user-info .is_author,
#commentform input:not([type=submit]):focus,
#commentform .comment-form-comment #comment:focus,
.filters li a.active,
.filters li a:hover,
.widget.featured-products .flex-direction-nav li a.flex-next:hover,
.widget.featured-products .flex-direction-nav li a.flex-prev:hover {
    border-color: #454545;
}

.border-line-2 {
    background-color: #454545;
}

.woocommerce ul.products li.product .product-rating span.star-empty,
.single-product.woocommerce div.product div.summary .product-rating span.star-empty,
.testimonial-wrapper .testimonial-rating span.star-empty,
#comments div.comment-text div.meta .product-rating span.star-empty,
.yit_recent_reviews .reviews-rating span.star-empty,
.widget.testimonial-widget ul li .name-testimonial .testimonial-rating span.star-empty {
    color: #b5b4b4;
}

.woocommerce ul.products li.product .product-rating span.star,
.single-product.woocommerce div.product div.summary .product-rating span.star,
.testimonial-wrapper .testimonial-rating span.star,
#comments div.comment-text div.meta .product-rating span.star,
.yit_recent_reviews .reviews-rating span.star,
.star-rating:before,
.woocommerce-tabs #review_form p.stars a.active,
.widget.testimonial-widget ul li .name-testimonial .testimonial-rating span.star {
    color: #313334;
}

a, a:visited,
.widget.yit-recent-posts .recent-post .hentry-post h3 a.title:hover,
.widget.woocommerce ul.product_list_widget a span.product_title:hover,
.widget.contact-info .info-container a.contact_info_email:hover h4,
.blog-section-wrapper ul.blog_posts li div.blog_post .yit_post_meta span.info a:hover,
.widget.yit-recent-comments .comments-info-wrapper a.title:hover,
.widget.yit_recent_reviews .review-meta-avatar .meta .product-review-link a:hover,
.sbHolder .sbOptions li a:hover,
.widget_shopping_cart .widget_shopping_cart_content .mini-cart-item-info a:hover,
.widget_nav_menu ul li a,
.widget_product_categories ul li a,
li.eg-item-skin-1-wrapper.filter-hover1:hover .esg-bc.eec .eg-item-skin-1-element-16,
.widget.woocommerce.widget_layered_nav ul.yith-wcan-list li a,
.woocommerce.widget_layered_nav ul li a,
.widget.featured-products div.info-featured-product a,
.widget.yit_products_category a span.product_title:hover,
#wp-calendar tbody tr td#today,
#header #welcome-menu-login .lost_password a:hover,
#customer_login .login .lost_password a:hover,
.sitemap a:hover,
#yit-breadcrumb a:hover,
.widget.yit-recent-posts .recent-post.compact .hentry-post h3 a.title:hover,
.widget.yit-recent-posts .recent-post.compact span.author a:hover,
.widget.yit-recent-posts .recent-post.compact span.num-comments a:hover,
.widget.yit-recent-comments .comments-info-wrapper .author .email:hover {
    color: #8c8c8c;
}

a:hover, a:active, .widget.woocommerce ul.product_list_widget a span.product_title,
.widget.yit-recent-comments .comments-info-wrapper a.title,
.contact-info .info-container a:hover h4,
.widget.yit_recent_reviews .review-meta-avatar .meta .product-review-link a,
#yit-breadcrumb a,
.blog-section-wrapper ul.blog_posts li div.blog_post .yit_post_meta span.title a:hover,
.widget_nav_menu ul li a:hover,
.widget_product_categories ul li a:hover,
.widget.woocommerce.widget_layered_nav ul.yith-wcan-list li a:hover,
.woocommerce.widget_layered_nav ul li a:hover,
.widget.featured-products div.info-featured-product a:hover,
.widget.yit_products_category a span.product_title,
li.eg-item-skin-1-wrapper.filter-hover1 .esg-bc.eec .eg-item-skin-1-element-16,
#header #welcome-menu-login .lost_password a,
#customer_login .login .lost_password a,
.product-meta h3.product-name a:hover,
.woocommerce table.cart td.product-name div.product-name a:hover,
.yit_shortcodes.recent-post span.author a:hover{
    color: #3e8e99;
}

.features-tab-container ul.features-tab-labels li h4 a,
.tabs-container ul.tabs li h4 a,
.single-product.woocommerce div.product div.summary ul.socials li a,
.widget_categories ul li a,
.widget_archive ul li a,
.widget_product_categories ul li a,
.widget_meta ul li a,
.widget_pages ul li a,
.widget_nav_menu ul li a,
.logos-slider.wrapper .nav a.next,
.logos-slider.wrapper .nav a.prev,
.logos-slider.wrapper .nav a.next:hover,
.logos-slider.wrapper .nav a.prev:hover,
.blog-section-wrapper ul.blog_posts li div.blog_post .yit_post_meta span.info a
.single-product.woocommerce div.product div.summary form.cart ul.variations .select_option,
.single-product.woocommerce form.cart .reset_variations,
.single-product.woocommerce div.product div.summary form.cart ul.variations .select_option span,
#modal-window div.modal-opener a,
.widget.featured-products .flex-direction-nav li a.flex-prev:before,
.widget.featured-products .flex-direction-nav li a.flex-next:before,
.woocommerce .products-slider-wrapper .es-nav-prev span,
.woocommerce .products-slider-wrapper .es-nav-next span,
.categories-slider-wrapper .es-nav-prev span,
.categories-slider-wrapper .es-nav-next span,
.coupon-form-checkout a.showcoupon,
.login-form-checkout a.showlogin,
.login-form-checkout .lost_password a,
.widget.yit_toggle_menu ul.menu li a,
.yit-vertical-megamenu .nav > ul > li > a,
.quick-view-overlay.product-quick-view a.overlay-close.remove,
.yitpopup_wrapper a.close:before,
.quick-view-overlay.product-quick-view .slider-quick-view-container .es-nav-prev,
.quick-view-overlay.product-quick-view .slider-quick-view-container .es-nav-next,
#header-search .autocomplete-suggestion,
#inquiry-form .product-inquiry,
.sitemap a,
.woocommerce .widget_layered_nav ul.yith-wcan-label li a,
.woocommerce-page .widget_layered_nav ul.yith-wcan-label li a {
    color: #8c8c8c;
}

.features-tab-container ul.features-tab-labels li.current-feature h4 a,
.features-tab-container ul.features-tab-labels li.current-feature:hover h4 a,
.features-tab-container ul.features-tab-labels li:hover h4 a,
.features-tab-container ul.features-tab-labels li h4 a:hover,
.toggle .toggle-title h4:hover,
.toggle .toggle-title.tab-opened h4,
.toggle .toggle-title:hover span.fa.fa-plus.closed,
.toggle .toggle-title span.fa.fa-plus.closed:hover,
.toggle .toggle-title span.fa.fa-minus.opened:before,
#faqs-container .faq-wrapper:hover .faq-title h4,
#faqs-container .faq-wrapper .faq-title.active h4,
#faqs-container .faq-wrapper:hover .faq-icon.fa,
#faqs-container .faq-wrapper .faq-title.active .faq-icon.fa,
.widget_categories ul li a:hover,
.widget_archive ul li a:hover,
.widget_product_categories ul li a:hover,
.widget_meta ul li a:hover,
.widget_pages ul li a:hover,
.widget_nav_menu ul li a:hover,
.filters li a:hover,
.filters li a.active,
.single-product.woocommerce div.woocommerce-tabs ul.tabs li a:hover,
.single-product.woocommerce div.woocommerce-tabs ul.tabs li.active a,
.tabs-container ul.tabs li h4 a:hover,
div.product div.summary .product_meta span a:hover,
.single-product.woocommerce div.product div.summary ul.socials li a:hover i.fa,
#product-nav > a:hover span,
.single-product.woocommerce div.product div.summary ul.socials li a:hover
.single-product.woocommerce div.product div.summary form.cart ul.variations .select_option:hover,
.single-product.woocommerce div.product div.summary form.cart ul.variations .select_option.selected,
.single-product.woocommerce form.cart .reset_variations:hover,
.single-product.woocommerce div.product div.summary form.cart ul.variations .select_option span:hover,
.single-product.woocommerce div.product div.summary form.cart ul.variations .select_option.selected span,
#modal-window div.modal-opener a:hover,
.widget.featured-products .flex-direction-nav li a.flex-prev:hover:before,
.widget.featured-products .flex-direction-nav li a.flex-next:hover:before,
.woocommerce .products-slider-wrapper .es-nav-prev:hover span,
.woocommerce .products-slider-wrapper .es-nav-next:hover span,
.categories-slider-wrapper .es-nav-prev:hover span,
.categories-slider-wrapper .es-nav-next:hover span,
.coupon-form-checkout a.showcoupon:hover,
.login-form-checkout a.showlogin:hover,
.login-form-checkout .lost_password a:hover,
.widget.yit_toggle_menu ul.menu li a:hover,
.quick-view-overlay.product-quick-view a.overlay-close.remove:hover,
.quick-view-overlay.product-quick-view .slider-quick-view-container .es-nav-prev:hover,
.quick-view-overlay.product-quick-view .slider-quick-view-container .es-nav-next:hover,
.yitpopup_wrapper a.close:hover:before,
#header-search .autocomplete-suggestion:hover,
#header #header-search.opened .widget_search a.trigger-search, #header #header-search.opened .widget_product_search a.trigger-search,
#inquiry-form .product-inquiry:hover,
.sitemap h4 a,
.woocommerce .widget_layered_nav ul.yith-wcan-label li a:hover,
.woocommerce-page .widget_layered_nav ul.yith-wcan-label li a:hover,
.woocommerce .widget_layered_nav ul.yith-wcan-label li.chosen a,
.woocommerce-page .widget_layered_nav ul.yith-wcan-label li.chosen a,
#number-of-products a:hover,
#number-of-products a.active {
    color: #000000;
}

p, body, time, dt, dd, td, th, address, .counter .text, ul.short li, .testimonial-wrapper .testimonial-smallquote,
.widget.yit-recent-posts .recent-post .hentry-post p.post-date .month,
div.product div.summary .product_meta span a,
h2.title-filterable-faq,
.woocommerce p.form-row label, #ship-to-different-address label,
.woocommerce .quantity input.qty,
.woocommerce-page .quantity input.qty,
.woocommerce .quantity .minus,
.woocommerce .quantity .plus,
.woocommerce-page .quantity .minus,
.woocommerce-page .quantity .plus,
.sbHolder .sbSelector,
.blog-section-wrapper ul.blog_posts li div.blog_post .yit_post_date .month,
.sbHolder .sbOptions li a,
.woocommerce .form-row .chosen-container-single .chosen-single,
#customer_login p label{
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #7b7b7b;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: none;
}

h1{
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    color: #454545;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    color: #454545;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

h3, .testimonial-wrapper .testimonial-name .name,
.widget.yit-recent-posts .recent-post .hentry-post h3 a.title {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    color: #454545;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

h4,
.widget.yit-recent-comments .comments-info-wrapper .author .url,
.widget.yit-recent-comments .comments-info-wrapper .author .email,
.blog-section-wrapper ul.blog_posts li div.blog_post .yit_post_meta span.title,
.yit-vertical-megamenu h3,
.widget.yit_recent_reviews .review-meta-avatar .meta .author,
.tabs-container ul.tabs li:after {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    color: #454545;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

h5,
.widget.yit-recent-posts .recent-post.compact .hentry-post h3 a.title,
.testimonial-wrapper .testimonial-smallquote,
.widget_recent_entries > ul > li a {
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    color: #454545;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

h6 {
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
    color: #454545;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: none;
}

#header {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: scroll;
}

#logo #textual {
    font-size: 48px;
    font-family: 'Oswald', sans-serif;
    color: #000000;
    font-style: normal;
    font-weight: 800;
    text-align: left;
    text-transform: uppercase;
}

#logo span.title-highlight {
    font-size: 48px;
    font-family: 'Oswald', sans-serif;
    color: #4da6b3;
    font-style: normal;
    font-weight: 800;
    text-align: left;
    text-transform: uppercase;
}

#logo #tagline {
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    color: #8c8c8c;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: none;
}

#logo #tagline span.title-highlight {
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    color: #4da6b3;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: none;
}

#slogan h2, #slogan h1 {
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

#slogan p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #b0b0b0;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: none;
}

#slogan h2 span.title-highlight, #slogan p span.title-highlight, #slogan.yith-checkout-single span.current {
    color: #4da6b3;
}

#slogan {
    background-color: #ffffff;
}

.header-nav ul li a,
#welcome-menu > ul > li > a,
#welcome-menu-login > ul > li > a,
.yit-mini-cart-icon .cart-items-number,
#header .widget_icl_lang_sel_widget li a,
.whislist_nav a,
.yit-vertical-megamenu .nav > ul > li > a {
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

.header-nav ul li a,
#welcome-menu > ul > li > a,
#welcome-menu-login > ul > li > a,
#header .widget_search a.trigger-search,
#header .widget_product_search a.trigger-search,
.yit-mini-cart-icon .cart-items-number,
#header .widget_icl_lang_sel_widget li a,
.whislist_nav a,
.yit-vertical-megamenu .nav > ul > li > a {
    color: #8c8c8c;
}

.header-nav ul li:hover > a,
#welcome-menu > ul > li:hover > a,
#welcome-menu-login > ul > li:hover > a,
.header-nav ul li.current_page_item a,
.header-nav ul li.current-menu-ancestor a,
#header .widget_search a.trigger-search:hover,
#header .widget_product_search a.trigger-search:hover,
#header .widget_icl_lang_sel_widget li a:hover,
.whislist_nav a:hover,
.yit-vertical-megamenu .nav > ul > li > a:hover {
    color: #3e8e99;
}

.nav div.submenu {
    background-color: #ffffff;
}

.nav div.submenu ul li a, #header .widget_icl_lang_sel_widget li ul li a {
    font-size: 11px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

.nav div.submenu ul li a, .lang_sel_sel + li > a {
    color: #8c8c8c;
}

.nav div.submenu ul li:hover a {
    color: #000000;
}

.nav .bigmenu > .submenu > ul.sub-menu > li > a {
    font-size: 11px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
}

.nav .bigmenu div.submenu li > div.submenu li a {
    font-size: 11px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    color: #8c8c8c;
}

.nav .bigmenu > .submenu > ul.sub-menu > li:hover > a {
    color: #000000;
}

.nav .bigmenu div.submenu li > div.submenu li:hover a,
.nav .bigmenu div.submenu li > div.submenu li.current-menu-item a,
.nav .bigmenu div.submenu li > div.submenu li.current_page_item a {
    color: #000000;
}

#header-search label {
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    color: #8c8c8c;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

#header-search input#s, #header-search input#yith-s {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #8b8685;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: none;
}

#header-search .autocomplete-suggestion {
    border-color: #f2f0f0;
}

.btn-flat, a.btn-flat, .blog input[type="submit"], #yith-searchsubmit, .button, a.button,
.btn-alternative, a.btn-alternative, #submit{
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-flat, a.btn-flat, #yith-searchsubmit, .button, a.button,
.btn-alternative, a.btn-alternative, #submit,
#show-category-product div.category-count div.category-count-content span,
.categories-slider div.category-count div.category-count-content span {
    color: #ffffff;
}

.btn-flat:hover, a.btn-flat:hover, #yith-searchsubmit:hover, .button:hover, a.button:hover,
.btn-alternative:hover, a.btn-alternative:hover, #submit:hover{
    color: #ffffff;
    background-color: #648084;
    background: #648084;
}

.btn-flat, a.btn-flat, #yith-searchsubmit, .button, a.button,
.btn-alternative, a.btn-alternative, #submit {
    border-color: #4da6b3;
}

.btn-flat:hover, a.btn-flat:hover, #yith-searchsubmit:hover, .button:hover, a.button:hover,
.btn-alternative:hover, a.btn-alternative:hover, #submit:hover {
    border-color: #648084;
}

.btn-flat, a.btn-flat, #yith-searchsubmit,
.widget_price_filter .ui-slider .ui-slider-handle,
.widget_price_filter .ui-slider .ui-slider-range,
.button, a.button,
.btn-alternative, a.btn-alternative, #submit,
#show-category-product div.category-count,
.categories-slider div.category-count {
    background-color: #4da6b3;
    background: #4da6b3;
}

.btn-ghost,
a.btn-ghost {
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-ghost, a.btn-ghost {
    color: #648084;
    border-color: #648084;
}

.btn-ghost:hover,
a.btn-ghost:hover {
    color: #ffffff;
}

.btn-ghost:hover, a.btn-ghost:hover {
    border-color: #648084;
    background-color: #648084;
    background: #648084;
}

a.btn-ghost, .btn-ghost {
    background-color: transparent;
    background: transparent;
}

.btn-ghost-white,
a.btn-ghost-white {
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-ghost-white, a.btn-ghost-white {
    color: #ffffff;
    border-color: #ffffff;
}

.btn-ghost-white:hover,
a.btn-ghost-white:hover {
    color: #000000;
}

.btn-ghost-white:hover, a.btn-ghost-white:hover {
    border-color: #ffffff;
    background-color: #ffffff;
    background: #ffffff;
}

a.btn-ghost-white, .btn-ghost-white {
    background-color: transparent;
    background: transparent;
}

.error-404-text {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #7b7b7b;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: none;
}

#faqs-container .faq-wrapper .faq-title h4, .filters li a,
.toggle .toggle-title h4 {
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    color: #8c8c8c;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
}

.blog.small h3.post-title a,
.share-container .share-text {
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
}

.blog.big.single h1.post-title a, .blog.big.single h1.post-title {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
}

.blog.small h3.post-title a,
.blog h2.quote-title a,
.blog_section.post_meta .title a,
.morph-button-inflow.open .content-style-social a,
.shortcode.morph-button-inflow > button a,
.shortcode.morph-button-inflow > button,
.shortcode.morph-button-inflow.open .content-style-social a,
.blog.big.single h1.post-title a,
.blog.big.single h1.post-title {
    color: #454545;
}

.blog.small h3.post-title a:hover,
.blog h2.quote-title a:hover,
.blog_section.post_meta .title a:hover,
.format-quote .blog.big h3.post-title a:hover,
.blog.single .morph-button-inflow.open .content-style-social a:hover,
.shortcode.morph-button-inflow > button a:hover,
.shortcode.morph-button-inflow > button:hover,
.shortcode.morph-button-inflow.open .content-style-social a:hover {
    color: #3e8e99;
}

.blog .yit_post_meta,
.yit_shortcodes.recent-post .blog .yit_post_meta,
.yit_shortcodes.recent-post .yit_post_meta span.author,
.yit_shortcodes.recent-post span.author a,
.widget.yit-recent-posts .recent-post span.author,
.widget.yit-recent-posts .recent-post span.author a,
.widget.yit-recent-posts .recent-post span.num-comments,
.widget.yit-recent-posts .recent-post span.num-comments a,
.widget.yit-recent-posts .recent-post span.num-comments,
.blog.small .yit_post_content .author {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #6b6868;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
}

.blog.small .yit_post_meta a,
.blog.small .yit_post_meta a:visited {
    color: #6b6868;
}

.blog.small .yit_post_meta a:hover,
.blog.small .yit_post_meta a:active,
.blog.big.single .morph-button-inflow-2 > button span:hover {
    color: #3e8e99;
}

.blog.big.single .yit_post_meta .blog-share li .social-square .fa {
    color: #8c8c8c;
}

.blog.big.single .yit_post_meta .blog-share li .social-square:hover .fa {
    color: #454545;
}

.blog.big.single .yit_post_meta .blog-share li .social-square {
    border-color: #e1e1e1;
}

.blog.big.single .yit_post_meta .blog-share li .social-square:hover {
    border-color: #454545;
}

.blog.small .yit_post_content p {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #7b7b7b;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    text-transform: none;
}

.blog.big.single .morph-button-inflow-2 > button {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #423f3f;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    text-transform: none;
}

.format-quote .blog.big.single .yit_the_content p {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    color: #7b7b7b;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    text-transform: none;
}

.format-quote .blog.small h3.post-title a {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #6b6868;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.blog .yit_post_meta_date, .blog-section-wrapper ul.blog_posts li div.blog_post .yit_post_date {
    background-color: #ffffff;
}

.blog .yit_post_meta_date .day, .blog-section-wrapper ul.blog_posts li div.blog_post .yit_post_date .day {
    color: #000000;
}

.blog .yit_post_meta_date .month,
.blog-section-wrapper ul.blog_posts li div.blog_post .yit_post_date .month {
    color: #3e8e99;
}

.reply_link, #commentform .logged-in-as a, .comment-navigation .nav-previous a, .comment-navigation .nav-next a {
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    color: #626262;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.general-pagination, .woocommerce-pagination {
    font-size: 11px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 600;
    text-align: center;
}

.general-pagination a, .woocommerce-pagination a {
    color: #bcbcbc;
}

.general-pagination a:hover, #commentform .logged-in-as a:hover, .comment-navigation .nav-previous a:hover, .comment-navigation .nav-next a:hover,
.woocommerce-pagination a:hover {
    color: #060606;
}

.general-pagination a.selected, .general-pagination a:hover.selected, .woocommerce-pagination span {
    color: #060606;
}

.general-pagination a {
    background-color: #ffffff;
}

.general-pagination a:hover {
    background-color: #ffffff;
}

.general-pagination a.selected {
    background-color: #ffffff;
}

#footer a {
    color: #626262;
}

#footer a:hover {
    color: #3e8e99;
}

#copyright p, #copyright ul li a {
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    color: #7b7b7b;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: none;
}

#copyright a, #copyright ul li a, #copyright ul.level-1 li::after {
    color: #7b7b7b;
}

#copyright a:hover, #copyright ul li a:hover {
    color: #3e8e99;
}

#footer h3 {
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    color: #454545;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

#footer .border {
    border-top-color: #e1e1e1;
}

#footer {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: scroll;
}

#copyright {
    background-color: #ffffff;
}

#back-top a, #back-top a:hover {
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

#back-top {
    background-color: #454545;
}

#back-top:hover {
    background-color: #4da6b3;
}

.product-meta h3.product-name, .product-meta h3.product-name a,
#product-nav > a h5,
.woocommerce table.cart td.product-name div.product-name a,
.widget_shopping_cart .widget_shopping_cart_content .mini-cart-item-info a,
.widget_shopping_cart .widget_shopping_cart_content .total span.amount{
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    color: #454545;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.product-meta .price, .product-meta .price .amount, .widget.woocommerce ul.product_list_widget span.product_price,
#product-nav > a div.product-info p span {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    color: #454545;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    text-transform: none;
}

#list-or-grid span, #number-of-products span,
#page-meta form.woocommerce-ordering .sbHolder .sbSelector,
#number-of-products a {
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    color: #686868;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

.woocommerce ul.products li.product .thumb-wrapper .out-of-stock-icon .out-of-stock-text span,
.woocommerce ul.products li.product .thumb-wrapper .added-to-cart-icon .added-to-cart-text span {
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    color: #636363;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.woocommerce-info, .woocommerce-message, .woocommerce-error,
.woocommerce .coupon-form-checkout .coupon_link, .woocommerce .login-form-checkout .login-form-link {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #7b7b7b;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: none;
}

.single-product.woocommerce div.product div.summary h1,
.single-product.woocommerce div.product div.product-title-section h1 {
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    color: #454545;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

.single-product.woocommerce div.product div.summary .price,
.single-product.woocommerce div.product div.summary .price span.amount,
.single-product.woocommerce div.product div.product-title-section .price,
.single-product.woocommerce div.product div.product-title-section .price span.amount {
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    color: #939393;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: none;
}

.single-product.woocommerce div.product div.summary form.cart h4,
.single-product.woocommerce div.product form.cart ul.variations label,
div.summary.entry-summary form.variations_form.cart .single_variation_wrap h4 {
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    color: #454545;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

.single-product.woocommerce div.woocommerce-tabs ul.tabs li a,
#product-nav span.icon-wrap {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    color: #989898;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

.woocommerce div.product .stock.out-of-stock,
.woocommerce-page div.product .stock.out-of-stock {
    color: #9d1414;
}

.woocommerce div.product .stock,
.woocommerce-page div.product .stock {
    color: #85ad74;
}

#customer_login .already_registered,
.cta-phone,
.cta-phone.call-to-action h3:after,
.cta-phone.call-to-action h3:after,
.cta-phone.call-to-action .cta-phone-phone:after {
    border-color: #eeeeee;
}

.widget.woocommerce ul.product_list_widget a span.product_title,
.single-product.woocommerce ul.product_list_widget a span.product_title,
.widget.yit_products_category a span.product_title,
.widget.woocommerce.widget_recent_reviews ul.product_list_widget li a {
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    color: #060606;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

.widget.woocommerce ul.product_list_widget a span.product_price,
.single-product.woocommerce ul.product_list_widget a span.product_price,
.widget.yit_products_category a span.product_price {
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    color: #939393;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: none;
}

#header .widget_shopping_cart .widget_shopping_cart_content h5.list-title {
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

.woocommerce #header-sidebar > div.yit_cart_widget .product_list_widget .mini-cart-item-info a,
#header-sidebar > div.yit_cart_widget .product_list_widget .mini-cart-item-info a,
.woocommerce #header-sidebar > div.yit_cart_widget .product_list_widget .mini-cart-item-info .subtotal,
#header-sidebar > div.yit_cart_widget .product_list_widget .mini-cart-item-info .subtotal {
    color: #454545;
}

.woocommerce #header-sidebar > div.yit_cart_widget .product_list_widget .mini-cart-item-info a:hover,
#header-sidebar > div.yit_cart_widget .product_list_widget .mini-cart-item-info a:hover {
    color: #3e8e99;
}

.woocommerce #header-sidebar .yit_cart_widget .cart_wrapper, #header-sidebar .yit_cart_widget .cart_wrapper .widget_shopping_cart_content {
    border-color: #f7f7f9;
    background: #ffffff;
}

#loginform label {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #454545;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

#loginform .forgetmenot label,
#loginform input[type="text"],
#loginform input[type="password"],
.wp-social-login-connect-with {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #454545;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.login .button-primary {
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #4da6b3;
    border-color: #4da6b3;
}

.login .button-primary:hover {
    background-color: #648084;
    border-color: #648084;
}

.login #nav a {
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    color: #454545;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
}

.login #backtoblog a {
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    color: #454545;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
}